* {
    margin: 0;
    padding: 0;
    font-family: "Courier New", Courier, monospace;
    color: red;
}
body {
    font-size: 4em;
}
h1 {
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}
sup, sub {
    font-size: 1em;
}
h1, p {
    margin: 1em 5%;
    width: 90%;
}
a {
    color: black;
}
